@tailwind base;

@tailwind components;

.btn {
  @apply rounded-lg text-lg px-4 py-1 uppercase cursor-pointer;
}

.btn:focus {
  @apply outline-none;
}

.btn-primary {
  @apply text-gray-300 bg-blue-800;
}

.btn-primary:hover {
  @apply bg-blue-700 text-white;
}

.form-input {
  @apply pl-2 h-8 shadow-sm rounded-lg block w-full;
}

.form-input:focus {
  @apply outline-none shadow-md;
}

.alert {
  @apply flex items-center h-10 px-4 rounded-lg border-solid border-2;
}

.alert-success {
  @apply bg-green-200 border-green-300;
}

.alert-error {
  @apply bg-red-200 border-red-300;
}

.alert-warning {
  @apply bg-yellow-200 border-yellow-300;
}

.alert-info {
  @apply bg-gray-400 border-gray-500;
}

.active-games-table-head {
  @apply px-6 py-3 border-b border-gray-200 bg-gray-100;
}

.active-games-table-head-text {
  @apply text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider;
}

.active-games-table-data {
  @apply px-6 py-4 whitespace-no-wrap border-b border-gray-200;
}

.active-games-table-data-sm {
  @apply text-sm leading-5 text-gray-500;
}

@tailwind utilities;
