<!--index.html-->
<html>
  <head>
      <meta charset="utf-8">
      <title>Cribbage Home Page</title>
  </head>

  <body>
  <h1>Cribbage</h1>

  <h2>Create user</h2>
  <form action="/user/" method="get" id="createForm">
    <fieldset>
      Username: <input type="text" name="username" id="createUN"><br>
      Display name: <input type="text" id="createDN"><br>
      <input type="submit" value="Submit" id="create-user-submit" disabled>
    </fieldset>
  </form>

  <h2>Sign in</h2>
  <form action="/user/" method="get">
    <fieldset>
      Username: <input type="text" name="username"><br>
      <input type="submit" value="Submit">
    </fieldset>
  </form>

  <script src="assets/js/wasm_exec.js"></script>
  <script>
      const go = new Go();
      // memoryBytes is an Uint8Array pointing to the webassembly linear memory.
      let memoryBytes;
      let mod, inst, bytes;
      console.log("initializing gowasm");
      WebAssembly.instantiateStreaming(
        fetch("assets/wasm/wa_output.wasm", 
          {cache: 'no-cache'}), 
          go.importObject).then((result) => {
        mod = result.module;
        inst = result.instance;
        memoryBytes = new Uint8Array(inst.exports.mem.buffer)
        console.log("initialized gowasm");
        run();
      });
      async function run() {
        await go.run(inst);
      }
    </script>
</body>
</html>