<!--index.html-->
<html>
  <head>
      <meta charset="utf-8">
      <title>Cribbage Home Page</title>
  </head>

  <body>
  <button id="runButton">Run</button>
  <div id="status"></div>

  <h1>Cribbage</h1>

  <h2>Create user</h2>
  <form action="/user/" method="post">
    <fieldset>
      Username: <input type="text" name="username"><br>
      Display name: <input type="text" name="displayName"><br>
      <input type="submit" value="Submit">
    </fieldset>
  </form>

  <h2>Sign in</h2>
  <form action="/user/" method="get">
    <fieldset>
      Username: <input type="text" name="username"><br>
      <input type="submit" value="Submit">
    </fieldset>
  </form>

    <script src="assets/js/wasm_exec.js"></script>
  <script>
      const go = new Go();
      // memoryBytes is an Uint8Array pointing to the webassembly linear memory.
      let memoryBytes;
      let mod, inst, bytes;
      let imageType;
      document.getElementById('status').innerText = "Initializing wasm...";
      WebAssembly.instantiateStreaming(
        fetch("assets/wasm/wa_output.wasm", 
          {cache: 'no-cache'}), 
          go.importObject).then((result) => {
        mod = result.module;
        inst = result.instance;
        memoryBytes = new Uint8Array(inst.exports.mem.buffer)
        document.getElementById('status').innerText = "Initialization complete.";
      });
      async function run() {
        await go.run(inst);
      }
      document.getElementById('runButton').addEventListener('click', function() {
        run();
      });
    </script>
</body>
</html>