name: client-lint
defaults:
  run:
    working-directory: ./client
on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '13'
      - name: Install node modules
        run: npm install
      - name: Lint
        run: npx eslint src
