name: golang-tests
defaults:
  run:
    working-directory: ./app
on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0.19
        env:
          MYSQL_ROOT_PASSWORD: githubactionpassword
          MYSQL_DATABASE: testing_cribbage
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.2
          mongodb-replica-set: testReplSet
      - name: get go-acc
        run: go get -u github.com/ory/go-acc
      - name: Run Golang Tests
        run: go-acc -o coverage.txt ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./app/coverage.txt
          # flags: unittests
          # env_vars: OS,PYTHON
          # name: codecov-umbrella
          fail_ci_if_error: true
